*.iml
.gradle
/local.properties
.idea/*
.kotlin/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
yarn.lock
docs/html
tasks.txt
xcuserdata/
contents.xcworkspacedata
deployment/
.claude/*.local.*
secrets.gpg
