[versions]
androidxnavigation = "2.5.3"
androidxpreference = "1.2.0"
compose = "1.3.0"
composeMaterial3 = "1.0.0"
composeCompiler = "1.2.0"
gradlePlugin = "7.3.1"
kotlin = "1.7.21"
dataStore = "1.1.0-dev01"

[libraries]
androidx-activity-compose = "androidx.activity:activity-compose:1.6.1"
androidx-navigation-compose = { module = "androidx.navigation:navigation-compose", version.ref = "androidxnavigation" }
androidx-preference-preference = { module = "androidx.preference:preference", version.ref = "androidxpreference" }
androidx-preference-ktx = { module = "androidx.preference:preference-ktx", version.ref = "androidxpreference" }

android-gradlePlugin = { module = "com.android.tools.build:gradle", version.ref = "gradlePlugin" }

compose-foundation-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout", version.ref = "compose" }
compose-material-material = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-material-material3 = { module = "androidx.compose.material3:material3", version.ref = "composeMaterial3" }
compose-material-iconsextended = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }
compose-ui-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }

androidx-datastore-preference-core = { module = "androidx.datastore:datastore-preferences-core", version.ref = "dataStore" }
androidx-datastore-preference-android = { module = "androidx.datastore:datastore-preferences", version.ref = "dataStore" }

kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
