[versions]
androidxnavigation = "2.7.6"
androidxpreference = "1.2.1"
compose = "2023.10.01"
composeMaterial3 = "1.0.1"
composeCompiler = "1.5.6"
gradleNexusStagingPlugin = "0.30.0"
gradlePlugin = "8.2.0"
kotlin = "1.9.21"
publishPlugin = "1.3.0"

[libraries]
androidx-activity-compose = "androidx.activity:activity-compose:1.8.1"
androidx-navigation-compose = { module = "androidx.navigation:navigation-compose", version.ref = "androidxnavigation" }
androidx-preference-preference = { module = "androidx.preference:preference", version.ref = "androidxpreference" }
androidx-preference-ktx = { module = "androidx.preference:preference-ktx", version.ref = "androidxpreference" }

android-gradlePlugin = { module = "com.android.tools.build:gradle", version.ref = "gradlePlugin" }

compose-bom = { module = "androidx.compose:compose-bom", version.ref = "compose" }
compose-foundation-foundation = { module = "androidx.compose.foundation:foundation" }
compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout" }
compose-material-material = { module = "androidx.compose.material:material" }
compose-material-material3 = { module = "androidx.compose.material3:material3" }
compose-material-iconsextended = { module = "androidx.compose.material:material-icons-extended" }
compose-ui-ui = { module = "androidx.compose.ui:ui" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }

gradle-nexus-staging-plugin = { module = "io.codearte.gradle.nexus:gradle-nexus-staging-plugin", version.ref = "gradleNexusStagingPlugin" }

kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
publish-plugin = { module = "io.github.gradle-nexus:publish-plugin", version.ref = "publishPlugin" }
