name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17

        # Builds the release artifacts of the library
      - name: Release build
        run: ./gradlew assembleRelease -x :app:assembleRelease -x :app_m3:assembleRelease
