name: Main

on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  checks: write
  statuses: write
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-version:
    name: Get Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Get current version
        id: get_version
        run: |
          CURRENT_VERSION=$(grep "^libVersion=" gradle.properties | cut -d'=' -f2)
          echo "version=$CURRENT_VERSION" >> $GITHUB_OUTPUT
          echo "Current version: $CURRENT_VERSION"

  build-lib-base:
    name: Build base - Main
    if: ${{ success() }}
    needs: [ get-version ]
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Build
        run: ./gradlew :ui-base:build

  build-lib-ui:
    strategy:
      matrix:
        config: [
          { target: tiles, module: ui-tiles, task: build, continueOnError: false },
          { target: tiles expanded, module: ui-tiles-extended, task: build, continueOnError: false },
          { target: tiles expressive, module: ui-tiles-expressive, task: build, continueOnError: false },
        ]
    name: Build ${{ matrix.config.target }} - Main
    if: ${{ success() }}
    needs: [ build-lib-base ]
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Build
        continue-on-error: ${{ matrix.config.continueOnError }}
        run: ./gradlew :${{ matrix.config.module }}:${{ matrix.config.task }}

  build-sample:
    strategy:
      matrix:
        config: [
          { target: android,  module: androidApp, os: ubuntu-latest, tasks: assembleDebug },
          { target: iOS,  module: iosApp, os: macos-latest, tasks: compileKotlinIosArm64 },
          { target: js,  module: webApp, os: ubuntu-latest, tasks: jsBrowserDistribution },
          { target: wasm,  module: webApp, os: ubuntu-latest, tasks: wasmJsBrowserDistribution },
          { target: desktop,  module: desktopApp, os: ubuntu-latest, tasks: assemble }
        ]
    if: ${{ success() }}
    needs: [ build-lib-ui ]
    runs-on: ${{ matrix.config.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Build sample ${{ matrix.config.target }} - Main
        continue-on-error: false
        run: ./gradlew :samples:${{ matrix.config.module }}:${{ matrix.config.tasks }}

  check-sign:
    name: Check signature - Main
    if: ${{ success() }}
    needs: [ build-lib-ui ]
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Check signature - Main
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_PASSWORD }}
        run: ./gradlew ui-base:signKotlinMultiplatformPublication ui-tiles:signKotlinMultiplatformPublication ui-tiles-extended:signKotlinMultiplatformPublication ui-tiles-expressive:signKotlinMultiplatformPublication

  fake-publish:
    name: Fake publish - Main
    if: ${{ success() }}
    needs: [ check-sign ]
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Publish to MavenLocal
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_PASSWORD }}
        run: ./gradlew publishToMavenLocal

  publish-dry:
    name: Dry run publish - Main
    if: ${{ success() }}
    needs: [ check-sign ]
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Publish to MavenCentral (dry)
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: ./gradlew publishAndReleaseToMavenCentral --no-configuration-cache --max-workers 1 --dry-run

  # Deployment job
  deploy:
    name: Deploy to Github pages
    if: ${{ success() }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: [ build-sample ]
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Build sample JS - Main
        run: ./gradlew :samples:webApp:wasmJsBrowserDistribution

      - name: Copy webApp to dist
        run: cp -r samples/webApp/build/dist/wasmJs/productionExecutable deployment/

      - name: Build dokka - Main
        run: ./gradlew dokkaGeneratePublicationHtml

      - name: Copy dokka html to dist
        run: cp -r docs/html deployment/dokka

      - name: Upload your page as github pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: deployment/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
